{
  "plugins": [
    "transform-flow-strip-types",
    // "transform-es2015-arrow-functions",
    // "transform-es2015-block-scoped-functions",
    // "transform-es2015-block-scoping",
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs",
    "transform-inline-consecutive-adds",
    // "minify-dead-code-elimination", // May cause but when counting Function.length
    "minify-constant-folding"
  ]
}
